@use '/src/scss/base/variables' as v;

.card {

    &__info {
        margin-top: 7.2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .8rem;
    }

    &__name {
        color: v.$very-dark-desaturated-blue;
        font-weight: 700;
        font-size: 1.8rem;

        & span {
            color: v.$dark-grayish-blue;
            font-weight: 400;
            margin-left: .85rem;
        }
    }

    &__city {
        color: v.$dark-grayish-blue;
        font-size: 1.4rem;
        font-weight: 400;
    }
}