@use './variables' as v;

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    min-height: 100%;
}

body {
    min-height: 100vh;
    font-family: v.$body-font;
    font-size: 1.8rem;
    background: v.$dark-cyan;
    display: grid;
    place-content: center;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: v.$body-font;
}
