/* Fonts */
$body-font: 'Kumbh Sans', sans-serif;

/* Media Queries */
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;

/* Primary Colors */
$dark-cyan: hsl(185, 75%, 39%);
$very-dark-desaturated-blue: hsl(229, 23%, 23%);
$dark-grayish-blue: hsl(227, 10%, 46%);

/* Neutral */
$dark-gray: hsl(0, 0%, 59%);