.card {

    &__header {
        background: url(/src/assets/images/bg-pattern-card.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 1.5rem 1.5rem 0 0;
        height: 14rem;
        display: flex;
        justify-content: center;
        align-items: end;
        position: relative;

        & img {
            width: 9.6rem;
            height: 9.6rem;
            border-radius: 50%;
            border: 5px solid #FFF;
            position: absolute;
            top: 65%;
        }
    }
}