@use '/src/scss/base/variables' as v;

.card {

    &__data {
        margin-top: 2.4rem;
        border-top: 1px solid #E8E9EC;
        padding: 2.4rem 5.35rem 2.4rem 4.25rem;
        display: flex;
        justify-content: space-between;
    }

    &__data-totals {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: .9rem;
        color: v.$very-dark-desaturated-blue;
        font-size: 1.8rem;
        font-weight: 700;

        & span {
            font-size: 1rem;
            font-weight: 400;
            letter-spacing: 1.5px;
            color: v.$dark-grayish-blue;
        }
    }
}
