@use './scss/base/variables' as v;
@use './scss/base/mixins' as m;

.card {
    min-width: 32.6rem;
    background-color: #FFF;
    border-radius: 1.5rem;

    @include m.tablet{
        width: 35rem;
    }
}